services:
  app:
    # ports:
    #   - "8080:8080"
    volumes:
      - ./app:/app
    command: ["make", "dev"]
  caddy:
    image: caddy:latest
    volumes:
      - ./services/caddy/Caddyfile:/etc/caddy/Caddyfile
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - app
